<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RegisterDiciplines" type="TurnFixImport.configuration.RegisterDiciplinesConfig, TurnFixImport" allowDefinition="Everywhere"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>

  <!--Example mapping:-->
  <!--Notice: if a turnfixid is given, the id is used for mapping instead of the other attributes-->
  <!--<Dicipline name="Gerätebahn A" m="True" w="True" gymnetid="915" turnfixid="" />-->

  <RegisterDiciplines>
    <DiciplineMappings>
      <Dicipline name="Boden" m="True" f="False" gymnetid="200" turnfixid="74"/>
      <Dicipline name="Pferd" m="True" f="False" gymnetid="210" turnfixid="31"/>
      <Dicipline name="Ringe" m="True" f="False" gymnetid="220" turnfixid="50"/>
      <Dicipline name="Sprung" m="True" f="False" gymnetid="230" turnfixid="71"/>
      <Dicipline name="Barren" m="True" f="False" gymnetid="240" turnfixid="72"/>
      <Dicipline name="Reck" m="True" f="False" gymnetid="250" turnfixid="46"/>
      <Dicipline name="Sprung" m="False" f="True" gymnetid="260" turnfixid="71"/>
      <Dicipline name="Stufenbarren" m="False" f="True" gymnetid="270" turnfixid="68"/>
      <Dicipline name="Schwebebalken" m="False" f="True" gymnetid="280" turnfixid="73"/>
      <Dicipline name="Boden" m="False" f="True" gymnetid="290" turnfixid="74"/>
      <Dicipline name="Minitrampolin" m="True" f="True" gymnetid="630" turnfixid="77"/>
      <Dicipline name="Gerätebahn A" m="True" f="True" gymnetid="915" turnfixid="75" />
      <Dicipline name="Gerätebahn B" m="True" f="True" gymnetid="916" turnfixid="76"/>
    </DiciplineMappings>
  </RegisterDiciplines>
  
</configuration>
